

.team-no-hover .q_team:hover .q_team_social_holder{
  opacity: 0
}

.separator-no-text-border .separator_content {
  border: none !important;
}
.carousel_item_holder a .first_image_holder {
  cursor: pointer;
}
.footer_top {
  text-align: center;
}
.footer_top #text-4 {
  margin-top: 15px;
}
.footer_top .q_social_icon_holder .fa-stack.circle_social {
  color: #393939;
}
.footer_top .q_social_icon_holder:hover .fa-stack.circle_social {
  color: #FFF;
}
.copyright a{
  text-transform:none;
}
.footer-cta.donate-button {
    margin-right: 20px;
    background: #F59221;
    border-radius: 5px;
    padding: 5px 15px;
    color: #FFF;
}
.footer-cta.join-us-button {
    background: #1C8CCC;
    border-radius: 5px;
    padding: 5px 15px;
    color: #FFF;
}
.container_inner.default_template_holder {
  padding-bottom: 44px;
}
.vc_col-sm-6.fourty-nine{
  width: 49%;
}
.vc_col-sm-6.fourty-nine:first-child{
  margin-right: 2%;
}

@media all and (max-width: 1200px){
  nav.main_menu>ul>li>a {
    padding: 0 18px;
    letter-spacing: 1px
  }

}

@media all and (max-width: 768px){
  .hide-tablet-and-below {
    display: none;
  }
}

@media all and (max-width: 480px){
  footer .qode_column.column1 .column1{
    display: none;
  }
  footer .footer_top .column_inner>div {
    margin: 0 0 15px !important;
  }
}