
    /* Webkit */
    ::selection {
    background: #fa913d;
    }
    /* Gecko/Mozilla */
    ::-moz-selection {
    background: #fa913d;
    }


	h6, h6 a,h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover,a,p a,
	header:not(.with_hover_bg_color) nav.main_menu > ul > li:hover > a,
	nav.main_menu>ul>li.active > a,
	.drop_down .second .inner > ul > li > a:hover,
	.drop_down .second .inner ul li.sub ul li a:hover,
	nav.mobile_menu ul li a:hover,
	nav.mobile_menu ul li.active > a,
	.side_menu_button > a:hover,
	.mobile_menu_button span:hover,
	.vertical_menu ul li a:hover,
	.vertical_menu_toggle .second .inner ul li a:hover,
	nav.popup_menu ul li a:hover,
	nav.popup_menu ul li ul li a,
	.blog_holder article.sticky .post_text h3 a,
	.blog_holder.masonry article.sticky .post_text h5 a,
	.blog_holder.masonry_full_width article.sticky .post_text h5 a,
	.blog_holder article .post_info,
	.blog_holder article .post_info a,
	.blog_holder article .post_text a.more-link:hover span,
	.blog_holder article .post_description a:hover,
	.blog_holder article .post_description .post_comments:hover,
	.blog_holder.masonry article.format-quote  .post_text_inner:hover .qoute_mark,
	.blog_holder.masonry article.format-link .post_text .post_text_inner:hover .link_mark,
	.blog_holder.masonry_full_width article.format-quote .post_text .post_text_inner:hover .qoute_mark,
	.blog_holder.masonry_full_width article.format-link .post_text .post_text_inner:hover .link_mark,
	.blog_holder article.format-link .post_text .post_text_inner:hover .post_social .post_comments i, 
	.blog_holder article.format-link .post_text .post_text_inner:hover .post_social .blog_like i,
	.blog_holder article.format-link .post_text .post_text_inner:hover .post_social .social_share_holder > a > i,
	.blog_holder article.format-quote .post_text .post_text_inner:hover .post_social .post_comments i, 
	.blog_holder article.format-quote .post_text .post_text_inner:hover .post_social .blog_like i,
	.blog_holder article.format-quote .post_text .post_text_inner:hover .post_social .social_share_holder > a > i,
	.comment_holder .comment .text .comment_date,
	.comment_holder .comment .text .replay,
	.comment_holder .comment .text .comment-reply-link,
	div.comment_form form p.logged-in-as a,
	.blog_holder.masonry .post_author:hover,
	.blog_holder.masonry .post_author a:hover,
	.blog_holder.masonry_full_width .post_author:hover,
	.blog_holder.masonry_full_width .post_author a:hover,
	.blog_holder.masonry article .post_info a:hover,
	.blog_holder.masonry_full_width article .post_info a:hover,
	.blog_holder.masonry article h4 a:hover,
	.blog_holder.masonry_full_width article h4 a:hover,
	.latest_post_holder .latest_post_title a:hover,
	.latest_post_holder .post_info_section:before,
	.latest_post_holder .post_info_section span,
	.latest_post_holder .post_info_section a,
	.latest_post_holder .post_author a.post_author_link:hover,
	.projects_holder article .portfolio_title a:hover,
	.filter_holder ul li.current span,
	.filter_holder ul li:not(.filter_title):hover span,
	.q_accordion_holder.accordion .ui-accordion-header .accordion_mark_icon,
	blockquote.with_quote_icon i,
	blockquote h3,
	.q_dropcap,
	.price_in_table .value,
	.price_in_table .price,
	.q_font_elegant_holder.q_icon_shortcode:hover, 
	.q_font_awsome_icon_holder.q_icon_shortcode:hover,
	.q_icon_with_title.normal_icon .icon_holder:hover .icon_text_icon,
	.box_holder_icon_inner.normal_icon .icon_holder_inner:hover .icon_text_icon,
	.q_progress_bars_icons_inner.square .bar.active i,
	.q_progress_bars_icons_inner.circle .bar.active i,
	.q_progress_bars_icons_inner.normal .bar.active i,
	.q_progress_bars_icons_inner .bar.active i.fa-circle,
	.q_progress_bars_icons_inner.square .bar.active .q_font_elegant_icon,
	.q_progress_bars_icons_inner.circle .bar.active .q_font_elegant_icon,
	.q_progress_bars_icons_inner.normal .bar.active .q_font_elegant_icon,
	.q_social_icon_holder.normal_social .simple_social,
	.q_social_icon_holder.normal_social.with_link .simple_social,
	.q_list.number ul>li:before,
	.social_share_list_holder ul li i:hover,
	.q_progress_bar .progress_number,
	.qbutton:hover,
	.load_more a:hover,
	.blog_load_more_button a:hover,
	#submit_comment:hover,
	.drop_down .wide .second ul li .qbutton:hover,
	.drop_down .wide .second ul li ul li .qbutton:hover,
	nav.content_menu ul li.active:hover i,
	nav.content_menu ul li:hover i,
	nav.content_menu ul li.active:hover a,
	nav.content_menu ul li:hover a,
	aside.sidebar .widget:not(.woocommerce) li,
	.header-widget.widget_nav_menu ul.menu li a:hover,
	input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover,
	.gform_wrapper input[type=button]:hover,
	.gform_wrapper input[type=submit]:hover,
	.vc_grid-container .vc_grid-filter.vc_grid-filter-color-grey > .vc_grid-filter-item:hover span,
	.vc_grid-container .vc_grid-filter.vc_grid-filter-color-grey > .vc_grid-filter-item.vc_active span {
	    color: #fa913d;
	}

	.popup_menu:hover .line,
	.popup_menu:hover .line:after,
	.popup_menu:hover .line:before,
	.blog_holder article .post_text a.more-link span,
	.blog_holder article .post_social .post_comments i,
	.blog_holder article .post_social .blog_like i,
	.blog_holder article .post_social .social_share_holder > a > i,
	.blog_holder article.format-link .post_text .post_text_inner:hover,
	.blog_holder article.format-quote .post_text .post_text_inner:hover,
	.blog_holder.masonry article.format-quote  .post_text_inner .qoute_mark,
	.blog_holder.masonry_full_width article.format-link .post_text .post_text_inner .link_mark,
	.blog_holder.masonry article.format-link .post_text .post_text_inner .link_mark,
	.blog_holder.masonry_full_width article.format-quote .post_text .post_text_inner .qoute_mark,
	.blog_holder article .post_image a .post_overlay,
	.latest_post_holder .boxes_image a .latest_post_overlay,
	.mejs-controls .mejs-time-rail .mejs-time-current,
	.mejs-controls .mejs-time-rail .mejs-time-handle,
	.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
	.projects_holder article .portfolio_shader,
	.projects_masonry_holder article .portfolio_shader,
	.portfolio_slides .portfolio_shader,
	.q_accordion_holder.accordion.boxed .ui-accordion-header.ui-state-active,
	.q_accordion_holder.accordion.boxed .ui-accordion-header.ui-state-hover,
	.q_accordion_holder.accordion .ui-accordion-header.ui-state-active .accordion_mark,
	.q_accordion_holder.accordion .ui-accordion-header.ui-state-hover .accordion_mark,
	.q_dropcap.circle,
	.q_dropcap.square,
	.gallery_holder ul li .gallery_hover i,
	.highlight,
	.testimonials_holder.light .flex-direction-nav a:hover,
	.q_tabs .tabs-nav li.active a,
	.q_tabs .tabs-nav li a:hover,
	.q_message,
	.price_table_inner ul li.table_title,
	.price_table_inner .price_button,
	.q_icon_with_title.circle .icon_holder .icon_holder_inner,
	.q_icon_with_title.square .icon_holder .icon_holder_inner,
	.box_holder_icon_inner.circle .icon_holder_inner,
	.box_holder_icon_inner.square .icon_holder_inner,
	.q_icon_with_title.circle .q_font_elegant_holder.circle,
	.q_icon_with_title.square .q_font_elegant_holder.square,
	.box_holder_icon_inner .q_font_elegant_holder.circle,
	.box_holder_icon_inner .q_font_elegant_holder.square,
	.box_holder_icon_inner.circle .icon_holder_inner,
	.q_social_icon_holder .fa-stack,
	.footer_top .q_social_icon_holder:hover .fa-stack,
	.q_list.circle ul>li:before,
	.q_list.number.circle_number ul>li:before,
	.q_pie_graf_legend ul li .color_holder,
	.q_line_graf_legend ul li .color_holder,
	.q_team .q_team_social_holder,
	.animated_icon_inner span.animated_icon_back .animated_icon,
	.service_table_inner li.service_table_title_holder,
	.q_progress_bar .progress_content,
	.q_progress_bars_vertical .progress_content_outer .progress_content,
	.qbutton,
	.load_more a,
	.blog_load_more_button a,
	#submit_comment,
	.qbutton.white:hover,
	.qbutton.solid_color,
	.call_to_action .column2.button_wrapper .qbutton:hover,
	#wp-calendar td#today,
	aside.sidebar .widget h4,
	.qode_image_gallery_no_space.light .controls a.prev-slide:hover,
	.qode_image_gallery_no_space.light .controls a.next-slide:hover,
	input.wpcf7-form-control.wpcf7-submit,
	div.wpcf7-response-output.wpcf7-mail-sent-ok,
	.gform_wrapper input[type=button],
	.gform_wrapper input[type=submit]{
	    background-color: #fa913d;
	}

	
	.q_image_with_text_over:hover .shader{
		background-color: rgba(250,145,61,0.9);
	}

	.q_circles_holder .q_circle_inner:hover .q_circle_inner2{
	    background-color: #fa913d !important;
	}

	.drop_down .second,
	.drop_down .narrow .second .inner ul li ul,
	.blog_holder article .post_text a.more-link span,
	.blog_holder article .post_text a.more-link:hover span,
	#respond textarea:focus,
	#respond input[type='text']:focus,
	.contact_form input[type='text']:focus,
	.contact_form  textarea:focus,
	.q_accordion_holder .ui-accordion-header .accordion_mark,
	.testimonials_holder.light .flex-direction-nav a:hover,
	.q_progress_bars_icons_inner.circle .bar .bar_noactive, 
	.q_progress_bars_icons_inner.square .bar .bar_noactive,
	.animated_icon_inner span.animated_icon_back .animated_icon,
	.service_table_holder,
	.service_table_inner li,
	.qbutton,
	.load_more a,
	.blog_load_more_button a,
	#submit_comment,
	.qbutton:hover,
	.load_more a:hover,
	.blog_load_more_button a:hover,
	#submit_comment:hover,
	.drop_down .wide .second ul li .qbutton:hover,
	.drop_down .wide .second ul li ul li .qbutton:hover,
	.qbutton.white:hover,
	.qbutton.solid_color,
	.call_to_action .column2.button_wrapper .qbutton:hover,
	.header-widget.widget_nav_menu ul ul,
	input.wpcf7-form-control.wpcf7-text:focus,
	input.wpcf7-form-control.wpcf7-number:focus,
	input.wpcf7-form-control.wpcf7-date:focus,
	textarea.wpcf7-form-control.wpcf7-textarea:focus,
	select.wpcf7-form-control.wpcf7-select:focus,
	input.wpcf7-form-control.wpcf7-quiz:focus,
	input.wpcf7-form-control.wpcf7-submit,
	input.wpcf7-form-control.wpcf7-submit[disabled],
	input.wpcf7-form-control.wpcf7-submit:not([disabled]),
	input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover,
	.gform_wrapper input[type=text]:focus,
	.gform_wrapper input[type=url]:focus,
	.gform_wrapper input[type=email]:focus,
	.gform_wrapper input[type=tel]:focus,
	.gform_wrapper input[type=number]:focus,
	.gform_wrapper input[type=password]:focus,
	.gform_wrapper textarea:focus,
	.gform_wrapper input[type=button],
	.gform_wrapper input[type=submit],
	.gform_wrapper input[type=button]:hover,
	.gform_wrapper input[type=submit]:hover{
	    border-color: #fa913d;
	}

	.q_circles_holder .q_circle_inner:hover .q_circle_inner2,
	.q_circles_holder .q_circle_inner:hover{
	    border-color: #fa913d !important;
	}

	
    body{
    	    	 color: #5d5d5d;     	 font-size: 14px;     	    }
            body,
		.wrapper,
        .content,
        .full_width,
		.content .container,
		.more_facts_holder{
        	background-color:#ffffff;
        }
    



	.content .content_inner > .container > .container_inner,
	.content .content_inner > .full_width > .full_width_inner{
		padding-top: 0px;
	}

	.content .content_inner > .container > .container_inner.default_template_holder{
		padding-top: 44px;
	}

	@media only screen and (max-width: 1000px){
		.content .content_inner > .container > .container_inner,
		.content .content_inner > .full_width > .full_width_inner,
		.content .content_inner > .container > .container_inner.default_template_holder{
			padding-top: 44px !important;
		}
	}	









.header_top{
	background-color: rgba(255,255,255,1);
}


header.sticky .header_top{
	background-color: rgba(255,255,255,0.7);
}



	.content{
		margin-top: 0;
	}

	.content.content_top_margin{
		margin-top: 101px !important;
	}

    .qode_search_form,
    .qode_search_form input,
    .qode_search_form input:focus{
    	color: #ffffff;         background-color: #018ec8;     }






        @media only screen and (min-width: 1000px){
            header.fixed_hiding .q_logo a,
            header.fixed_hiding .q_logo{
                max-height: 45px;
            }
        }
    

	@media only screen and (max-width: 1000px){
		.q_logo a{
			height: 75px !important;
		}
	}	





























	p{
		font-size: 14px;color: #5d5d5d	}































































	#back_to_top > span{
		font-size: 14px;	}
	

	.qode_image_gallery_no_space .controls a.prev-slide, 
	.qode_image_gallery_no_space .controls a.next-slide, 
	.qode_carousels .caroufredsel-direction-nav .caroufredsel-navigation-item,
	.flex-direction-nav a, .caroufredsel-direction-nav a{
		font-size: 14px;	}
	













.q_google_map{
	height: 750px;
}

	.footer_top{
		padding-top: 52px; 		padding-bottom: 46px; 	}



	.footer_top a{
		font-weight: 700;text-transform: uppercase	}


















































		














































	
	
	





	










